
*.env

# Editors
**/.*.swp

# Python
.venv
**/__pycache__
build
dist
instance
pricetracker.egg-info
.coverage
debug_screenshot*.png

# JS
**/node_modules


# Agentic Coding
.devcontainer
.opencode
AGENTS.md
